html, body {
    height: 100%;
}

body {
    background-color: lightskyblue;
}

#overlay{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: rgba(7, 23, 37, 0.9);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper{
    display: none;
}